/* 
    Document   : grouped
    Created on : 14-giu-2013, 12.58.34
    Author     : doctor
    Description:
        Purpose of the stylesheet follows.
*/
.product-view.grouped ,
.product-view.grouped .grouped-canvas,
.product-view.grouped .grouped-data {height: 800px; position: relative;
	transition:             all 300ms ease-in-out;
	-moz-transition:	all 300ms ease-in-out;
	-webkit-transition:	all 300ms ease-in-out;
	-o-transition:		all 300ms ease-in-out;
}
.product-view.grouped .product-shop.grid-full {overflow-y: auto}
.product-view.grouped .product-shop.grid-full .product-type-data { width: 99% }

.product-view.grouped .product-img-box {margin-right: 10px; margin-bottom: 10px }

.product-view.grouped .add-to-box {padding: 0px; margin: 0px; float: none!important}
.product-view.grouped .add-to-box-advice { float: left; width: 48%; color: black; font-weight: bold; margin-right: 10%}
.product-view.grouped .action-box {margin-top: 0px;}
.product-view.grouped .action-box,
.product-view.grouped .add-to-cart {float: left; margin-top: 0px}
.product-view.grouped .add-to-links, 
.product-view.grouped .email-friend {float: none}
.product-view.grouped .add-to-links li {float: none}
.product-view.grouped .schema-type {color: black; font-weight: bold}
.product-view.grouped .prodcut-action {margin-top: 15px; min-height: 90px}
.product-view.grouped .prodcut-action li a { padding-left: 20px; background: url(../../images/puntatoreRosso.gif) no-repeat 0 0}

.product-view.grouped tr.selected,
.product-view.grouped tr.has-qty {background-color: #B2C8DD!important}

.grouped .block-related {float: left; margin: 0px}
.grouped .block-related .link {font-weight: bold}

.cart-table .product-position,
#checkout-review-table .product-position {text-align: center}

#checkout-review-table h3 {font-size: 1em; line-height: 1em;}

@media (max-width: 950px) {
  .product-view.grouped .add-to-box {
      float: none!important
  }
}
@media (max-width: 1140px) {
    .product-view .grouped-canvas {
          display: none!important
      }
    .product-view.grouped .grouped-data {width: 98%}
}
  

/* da spostare */
.positioner {background: url(/js/ricambi/css/images/pointer.png); height: 26px; width: 26px; 
             text-align: center; font-weight: bold; color: #000; cursor: pointer;
            transition:             all 300ms ease-in-out;
            -moz-transition:	all 300ms ease-in-out;
            -webkit-transition:	all 300ms ease-in-out;
            -o-transition:		all 300ms ease-in-out; 
}
.positioner.selected{background: url(/js/ricambi/css/images/pointer-select.png); }
.positioner div {padding-top: 2px}