<?xml version="1.0"?>
<config>
    <modules>
        <Ricambi_Catalog>
            <version>0.1.1</version>
        </Ricambi_Catalog>
    </modules>
    <global>
        
        <events>
<!-- Verifica integrità dei dati -->            
            <catalog_product_delete_after_done>
                <observers>
                    <ricambi_catalog_observer>
                        <type>singleton</type>
                        <class>Ricambi_Catalog_Model_Product_Observer</class>
                        <method>on_delete</method>
                    </ricambi_catalog_observer>
                </observers>
            </catalog_product_delete_after_done>
            <catalog_product_save_after>
                <observers>
                    <ricambi_catalog_observer>
                        <type>singleton</type>
                        <class>Ricambi_Catalog_Model_Product_Observer</class>
                        <method>after_save</method>
                    </ricambi_catalog_observer>
                </observers>
            </catalog_product_save_after>            
<!-- -->
<!-- Momorizzazione -->
            <catalog_product_prepare_save>
                <observers>
                    <ricambi_catalog_observer>
                        <type>singleton</type>
                        <class>Ricambi_Catalog_Model_Product_Observer</class>
                        <method>prepare_save</method>
                    </ricambi_catalog_observer>
                </observers>
            </catalog_product_prepare_save>
<!-- -->
        </events>

        <blocks>
            <rcatalog>
                <class>Ricambi_Catalog_Block</class>
            </rcatalog>   
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_super_group>Ricambi_Catalog_Block_Adminhtml_Product_Edit_Tab_Super_Group</catalog_product_edit_tab_super_group>
                </rewrite>
            </adminhtml>         
        </blocks>
        <helpers>
            <rcatalog>
                <class>Ricambi_Catalog_Helper</class>
            </rcatalog> 
            <catalog>
                <rewrite>
                    <product_compare>Ricambi_Catalog_Helper_Catalog_Compare</product_compare>
                </rewrite>
            </catalog>
        </helpers>       
        <models>    
            <rcatalog> 
                <class>Ricambi_Catalog_Model</class>
                <resourceModel>rcatalog_mysql4</resourceModel>
            </rcatalog>
            <rcatalog_mysql4>
                <class>Ricambi_Catalog_Model_Mysql4</class>
                <entities>
                    <position>
                        <table>ricambi_catalog_product_position_links</table>
                    </position>
                    <options>
                        <table>ricambi_catalog_product_gruoped_associate_options</table>
                    </options>
                </entities>
            </rcatalog_mysql4>
            <catalog>
                <rewrite>
                    <product_type_grouped>Ricambi_Catalog_Model_Product_Type_Grouped</product_type_grouped>
                    <product_type_configurable>Ricambi_Catalog_Model_Product_Type_Configurable</product_type_configurable>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <rcatalog_setup>
                <setup>
                    <module>Ricambi_Catalog</module>
                </setup>                
            </rcatalog_setup>
        </resources>
        
<!-- ABilitazione dei prodotti configurabili su raggruppati-->        
        <catalog>
            <product>
                <type>
                    <grouped>
                        <allow_product_types module="catalog">
                            <configurable/>
                        </allow_product_types>
                    </grouped>    
                </type>
            </product>
        </catalog>
    </global>

    <frontend> 
        <routers>
            <rcatalog>
                <use>standard</use>
                    <args>
                        <module>Ricambi_Catalog</module>
                        <frontName>rcatalog</frontName>
                    </args>
            </rcatalog>
        </routers>    
        <layout>
            <updates>
                <rcatalog>
                    <file>rcatalog.xml</file>
                </rcatalog>
            </updates>
        </layout>
    </frontend>
            
    <adminhtml>
        <layout>
            <updates>
                <rcatalog>
                    <file>rcatalog.xml</file>
                </rcatalog>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <radmincatalog>
                <use>admin</use>
                    <args>
                        <module>Ricambi_Catalog</module>
                        <frontName>radmincatalog</frontName>
                    </args>
            </radmincatalog>
        </routers>    
    </admin>
</config>