.grouped-grid {width: 380px; float: left;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
}
.grouped-canvas {float: right}

.position_list_table .position-add-to {position:absolute; width: 20px; height: 20px; 
                                       background: transparent url('images/add.png') no-repeat 0 0; left:0; top:0; cursor: move}

.grid tr.position_list_table.assigned {background-color: #CFFFBF;}
.grid tr.position_list_table.assigned.evidence,
.grid tr.position_list_table.evidence {background-color: #BFFFEF}
.grid tr.position_list_table.on-mouse {cursor: default;}
.relative-draggable {position:relative}
.grouped-grid .hor-scroll {overflow: visible!important}

.group-option-grid .pager select {display: none}

tr.selected,
tr.on-mouse.selected { background-color: #FF4500!important }